<nav class="navbar navbar-default navbar-fixed-top " role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Simple Realtime Message',root_path, class: 'navbar-brand'%>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-pills pull-right" role="tablist">
        <li role="presentation"><a href="#"><%=t('message.new_message')%> <span class="badge" id="new_count_message"><%= @count_messages %></span></a></li>
      </ul>
    </div>

  </div>
</nav>
